

.header__title {
    color: #A1B0E7;
    text-decoration: none;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 70px 100px;
}

.header-menu__list {

        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        font-size: 1rem;
        gap: 70px;
        color: black;
}
.header-menu__list-item {
    text-decoration: none;
    color: black;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media (min-width: ) {
        display: none;
    }
}
    .header-menu__checkbox {
        position: absolute;
        visibility: hidden;
    }

    .header-menu__burger {
        position: relative;
        z-index: 1;
        display: block;
        width: 33px;
        height: 24px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .header-menu__list {
        position: absolute;
        top: 0;
        right: 0;
        display: grid;
        gap: 9px;
        padding: 18px 10px 25px;
        justify-content: center;
        text-transform: uppercase;
        background-color:  #FEFEFEB2;
        transform: translateX(100%);
        transition: 0.3s;
        max-width: 400px;
        width: 100%;
    }
        .header-menu-item {
            display: block;
            font-size: 1.3em;
            text-align: center;
            padding: 5px;
            cursor: pointer;
        }
        .header-menu-item:hover {
            transition: 0.2s;
            font-weight: 500;
            color: #000;
        }

.header-menu__burger span {
    content: '';
    right: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: .3s;
}
.header-menu__burger span::after, 
.header-menu__burger span::before {
    content: '';
    right: 0;
    position: absolute;
    display: block;
    height: 2px;
    background-color: #000;
}
ul {
    list-style-type: none;
}
li > a {
    color: #000;
}
.header-menu__burger span::after {
    width: 20px;
    top: 12px;
}
.header-menu__burger span::before {
    width: 100%;
    top: 24px;
}
.header-menu__checkbox:checked + .header-menu__burger span::before {
    top: 0px;
    width: 100%;
    transform: rotate(90deg);
}
.header-menu__checkbox:checked + .header-menu__burger span {
    bottom: 11px;
    transform: rotate(45deg);
}
.header-menu__checkbox:checked ~ .header-menu__burger span::after {
    width: 0px;
}
.header-menu__checkbox:checked ~ .header-menu__list {
    top: 59px;
    transform: translateX(0);
}