:root {
  --belyy: #fefefe;
  --sero-lilovyy: #a1b0e7;
  --chernyy: #1d1919;
  --gryazno-goluboy: #6dc7d1;
  --goluboy-dlya-oprosnika-: #dde4ff;
}

body {
  margin: 0;
  --font-family: "Helvetica", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "IBM Plex Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}